In [2]:
import pandas as pd

train = pd.read_csv('HA_Data_Science_train(1).csv', index_col=False)
train.head()

,LISTING_KIND,LISTING_CITY,LISTING_PRICE,IS_ARCHIVED,ARCHIVE_REASON,LOGIN_COUNTRY_CODE,LISTING_COUNTRY_CODE,LISTING_REGISTRATION_POSSIBLE,ADVERTISER_COMPLETENESS_SCORE,MANAGED_ACCOUNT,HAS_PROFILE_PIC,BROWSER,OS,IS_SCAMMER,ANONYMISED_EMAIL
0,1,Göteborg,725.00,False,NaN,se,se,0,80,False,1,Mobile Safari,iOS,0,bosqlqg@aol.com
1,1,Göteborg,469.35,False,NaN,se,se,1,70,False,1,Chrome,Android,0,fylm235670@gmail.com
2,1,Elche,200.00,False,NaN,es,es,0,25,False,0,Chrome,Android,0,mhzasjonfobc@gmail.com
3,0,Verona,1500.00,False,NaN,it,it,0,86,False,1,Chrome,Mac OS X,0,uclypkijb@italianflat.com
4,1,Copenhagen,904.16,False,NaN,dk,dk,0,5,False,1,Microsoft Edge,Windows,0,dyrrtatzx.fhcs@outlook.com

In [3]:
train.columns

Index(['LISTING_KIND', 'LISTING_CITY', 'LISTING_PRICE', 'IS_ARCHIVED',
       'ARCHIVE_REASON', 'LOGIN_COUNTRY_CODE', 'LISTING_COUNTRY_CODE',
       'LISTING_REGISTRATION_POSSIBLE', 'ADVERTISER_COMPLETENESS_SCORE',
       'MANAGED_ACCOUNT', 'HAS_PROFILE_PIC', 'BROWSER', 'OS', 'IS_SCAMMER',
       'ANONYMISED_EMAIL'],
      dtype='object')

# Preprocessing step

In [4]:
train.isnull().sum()

LISTING_KIND                         0
LISTING_CITY                         0
LISTING_PRICE                        0
IS_ARCHIVED                          0
ARCHIVE_REASON                   15433
LOGIN_COUNTRY_CODE                  29
LISTING_COUNTRY_CODE                 0
LISTING_REGISTRATION_POSSIBLE        0
ADVERTISER_COMPLETENESS_SCORE        0
MANAGED_ACCOUNT                      0
HAS_PROFILE_PIC                      0
BROWSER                            885
OS                                 885
IS_SCAMMER                           0
ANONYMISED_EMAIL                     0
dtype: int64

In [5]:
# i want to assign numerical values to the nominal values that in which training had to be simple

In [6]:
key_values=dict()
for i in train['ARCHIVE_REASON']:
    if i in key_values:
        key_values[i] += 1
    else:
        key_values[i] = 1
print(key_values)

{nan: 15433, 'scam': 1050, 'other': 279}

In [7]:
# inserting None values by zero(0)
arch_dict = {"scam": -1, "other": 1, None: 0}
train['ARCHIVE_REASON'] = train['ARCHIVE_REASON'].map(arch_dict)
index = len(train['ARCHIVE_REASON'])

In [8]:
# converting the IS_ARCHIVED feature to discrete numerical values

In [9]:
num_feature = {False: -1, True: 1}
train['IS_ARCHIVED'] = train['IS_ARCHIVED'].map(num_feature)

In [10]:
# and i assign LISTING_COUNTRY_CODE values to the LOGIN_COUNTRY_CODE feature in co-row

In [11]:
train['LOGIN_COUNTRY_CODE'].fillna(train['LISTING_COUNTRY_CODE'], inplace=True)
train['LOGIN_COUNTRY_CODE'].isnull().sum()

0

In [12]:
# converting OS feature to numerical
OSs = train.OS.unique()
OSs_dict = dict()
os_num = 1
for i in OSs:
    OSs_dict[i] = os_num
    os_num += 1

train.OS = train.OS.map(OSs_dict)

In [13]:
# converting browser feature to numerical

In [14]:
# converting OS feature to numerical
browsers = train.BROWSER.unique()
browsers_dict = dict()
brow_num = 1
for i in browsers:
    browsers_dict[i] = brow_num
    brow_num += 1

train.BROWSER = train.BROWSER.map(browsers_dict)

In [15]:
train.head()

,LISTING_KIND,LISTING_CITY,LISTING_PRICE,IS_ARCHIVED,ARCHIVE_REASON,LOGIN_COUNTRY_CODE,LISTING_COUNTRY_CODE,LISTING_REGISTRATION_POSSIBLE,ADVERTISER_COMPLETENESS_SCORE,MANAGED_ACCOUNT,HAS_PROFILE_PIC,BROWSER,OS,IS_SCAMMER,ANONYMISED_EMAIL
0,1,Göteborg,725.00,-1,NaN,se,se,0,80,False,1,1,1,0,bosqlqg@aol.com
1,1,Göteborg,469.35,-1,NaN,se,se,1,70,False,1,2,2,0,fylm235670@gmail.com
2,1,Elche,200.00,-1,NaN,es,es,0,25,False,0,2,2,0,mhzasjonfobc@gmail.com
3,0,Verona,1500.00,-1,NaN,it,it,0,86,False,1,2,3,0,uclypkijb@italianflat.com
4,1,Copenhagen,904.16,-1,NaN,dk,dk,0,5,False,1,3,4,0,dyrrtatzx.fhcs@outlook.com

In [16]:
train.isnull().sum()

LISTING_KIND                         0
LISTING_CITY                         0
LISTING_PRICE                        0
IS_ARCHIVED                          0
ARCHIVE_REASON                   15433
LOGIN_COUNTRY_CODE                   0
LISTING_COUNTRY_CODE                 0
LISTING_REGISTRATION_POSSIBLE        0
ADVERTISER_COMPLETENESS_SCORE        0
MANAGED_ACCOUNT                      0
HAS_PROFILE_PIC                      0
BROWSER                              0
OS                                   0
IS_SCAMMER                           0
ANONYMISED_EMAIL                     0
dtype: int64

In [17]:
train.columns

Index(['LISTING_KIND', 'LISTING_CITY', 'LISTING_PRICE', 'IS_ARCHIVED',
       'ARCHIVE_REASON', 'LOGIN_COUNTRY_CODE', 'LISTING_COUNTRY_CODE',
       'LISTING_REGISTRATION_POSSIBLE', 'ADVERTISER_COMPLETENESS_SCORE',
       'MANAGED_ACCOUNT', 'HAS_PROFILE_PIC', 'BROWSER', 'OS', 'IS_SCAMMER',
       'ANONYMISED_EMAIL'],
      dtype='object')

In [18]:
# converting the MANAGED_ACCOUNT feature to numerical values

mang_account = {False: -1, True: 1}
train['MANAGED_ACCOUNT'] = train['MANAGED_ACCOUNT'].map(mang_account)

In [19]:
# i want to add new feature that is the orientation of the listing and login country

orient_country = list()
for i in range(train.shape[0]):
    if train['LOGIN_COUNTRY_CODE'][i] == train['LISTING_COUNTRY_CODE'][i]:
        orient_country.append(0)
    else:
        orient_country.append(-1/2)
        
train['COUNTRY_ORI']=orient_country

In [20]:
train.drop(['LOGIN_COUNTRY_CODE', 'LISTING_COUNTRY_CODE'], axis=1, inplace=True)

In [21]:
train.head()

,LISTING_KIND,LISTING_CITY,LISTING_PRICE,IS_ARCHIVED,ARCHIVE_REASON,LISTING_REGISTRATION_POSSIBLE,ADVERTISER_COMPLETENESS_SCORE,MANAGED_ACCOUNT,HAS_PROFILE_PIC,BROWSER,OS,IS_SCAMMER,ANONYMISED_EMAIL,COUNTRY_ORI
0,1,Göteborg,725.00,-1,NaN,0,80,-1,1,1,1,0,bosqlqg@aol.com,0.0
1,1,Göteborg,469.35,-1,NaN,1,70,-1,1,2,2,0,fylm235670@gmail.com,0.0
2,1,Elche,200.00,-1,NaN,0,25,-1,0,2,2,0,mhzasjonfobc@gmail.com,0.0
3,0,Verona,1500.00,-1,NaN,0,86,-1,1,2,3,0,uclypkijb@italianflat.com,0.0
4,1,Copenhagen,904.16,-1,NaN,0,5,-1,1,3,4,0,dyrrtatzx.fhcs@outlook.com,0.0

In [22]:
train_label = train['IS_SCAMMER']
train.drop(['LISTING_CITY', 'IS_SCAMMER'], axis=1, inplace=True)

In [23]:
def email_regex(email):
    email_details = email.split('@')
    domain = email_details[1]
    main_domain = domain.split('.')[0]
    return main_domain

for i in range(index):
    train['ANONYMISED_EMAIL'][i] = email_regex(train['ANONYMISED_EMAIL'][i])
train['ANONYMISED_EMAIL']

D:\ProgramFiles\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0                            aol
1                          gmail
2                          gmail
3                    italianflat
4                        outlook
5                          gmail
6                         jjvela
7                          gmail
8                    italianflat
9                        hotmail
10                           gmx
11                       hotmail
12                         gmail
13                  homesrentals
14               isaccommodation
15                         gmail
16                  interasmundo
17                         yahoo
18                         gmail
19                         gmail
20                         gmail
21               isaccommodation
22                         gmail
23                         gmail
24                         gmail
25                         gmail
26                   habitaccion
27                         gmail
28                         gmail
29       urbandistrictapartments
                  ...
16732                      gmail
16733            thestudenthotel
16734            get-comfortable
16735                   alohabcn
16736                     excite
16737                      gmail
16738                    telenet
16739                   rentmore
16740                    hotmail
16741                 alphabitat
16742                      gmail
16743                        gmx
16744                        gmx
16745                    hotmail
16746                      gmail
16747                        gmx
16748                      yahoo
16749            viennacityflats
16750                    wehouse
16751                      gmail
16752                      yahoo
16753                    tiscali
16754                      gmail
16755                    outlook
16756                      gmail
16757                    hotmail
16758                      gmail
16759                      gmail
16760                      gmail
16761                   t-online
Name: ANONYMISED_EMAIL, Length: 16762, dtype: object

In [24]:
# در این ستون برای ایمیل هایی که با دامنه های زیر هستند تاثیری در کلاهبرداری دارند زیرا ایمیل هایی که با دامنه مخصوص به شرکت هستند
# می توان آن را پیگیری کرد اما دامنه های عمومی معلوم نیست که از چه کسی صادر می شود
# به همین دلیل برای آن هایی که عمومی هستند مقدار یک۱ را در نظر میگریم چون تاثیر مثبت در کلاهبرداری دارند و برای دامنه های خصوصی 
# مقدار (۱-)
# در نظر میگیریم

public_emails = {"gmail": 1, "yahoo": 1, "outlook": 1, "hotmail": 1}

train['ANONYMISED_EMAIL'] = train['ANONYMISED_EMAIL'].map(public_emails)

In [25]:
for i in range(index):
    if train['ANONYMISED_EMAIL'][i] != 1:
        train['ANONYMISED_EMAIL'][i] = -1

D:\ProgramFiles\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
TRAIN = train

# Reading the preprocessed TEST dataset

In [27]:
test = pd.read_csv('test.csv', index_col=False)

In [28]:
train_class = train_label

# training step

In [29]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_extraction.text import TfidfVectorizer,TfidfTransformer,CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
import pandas as pd

In [30]:
from sklearn.preprocessing import StandardScaler
import numpy as np

#Z_score normalization===>     v`(i)=(v(i)-mean)/std

scalar=StandardScaler(with_mean=True,with_std=True)

train = train.fillna(np.mean(train))
trainStandIm=scalar.fit_transform(train)
trainStandLabels=scalar.fit_transform(np.array(train_label).reshape(-1, 1))

# this is for that the two datasets are in the same dimention
length = test.shape[0]
new_blank = []
for i in range(length):
    new_blank.append(int(0))
test["NEW_BLANK"] = new_blank

testStandIm=scalar.fit_transform(test)

D:\ProgramFiles\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\ProgramFiles\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
D:\ProgramFiles\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
D:\ProgramFiles\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
D:\ProgramFiles\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\ProgramFiles\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [31]:
X_train,X_test,Y_train,Y_test=train_test_split(train,train_label,test_size=float(1/3),random_state=42)



#training with using gini index for decision tree

train_gini=DecisionTreeClassifier(criterion='gini',max_depth=3)
gini_index=Pipeline([('tdidf_gini',TfidfTransformer()),('clfg',train_gini)])
gini_index.fit(X_train,Y_train)
test_pred_gini=gini_index.predict(X_test)
print("accuracy:")
print(accuracy_score(Y_test,test_pred_gini))
#Confusion Matrix is used to understand the trained classifier behavior over the test dataset or validate dataset.
print("confusion_matrix: ")
print(confusion_matrix(Y_test,test_pred_gini))
print("classification_report:")
print(classification_report(Y_test,test_pred_gini))

accuracy:
0.9722619899785254
confusion_matrix:
[[5104  151]
 [   4  329]]
classification_report:
              precision    recall  f1-score   support

           0       1.00      0.97      0.99      5255
           1       0.69      0.99      0.81       333

   micro avg       0.97      0.97      0.97      5588
   macro avg       0.84      0.98      0.90      5588
weighted avg       0.98      0.97      0.97      5588

In [32]:
#training with using entropy (information gain) for decision tree

train_entropy=DecisionTreeClassifier(criterion='entropy',max_depth=2)
entropy=Pipeline([('tdidf_entropy',TfidfTransformer()),('clfe',train_entropy)])
entropy.fit(X_train,Y_train)
test_pred_entropy=entropy.predict(X_test)
print("accuracy:")
print(accuracy_score(Y_test,test_pred_entropy))
print("confusion_matrix: ")
print(confusion_matrix(Y_test,test_pred_entropy))
print("classification_report:")
print(classification_report(Y_test,test_pred_entropy))

accuracy:
0.9722619899785254
confusion_matrix:
[[5104  151]
 [   4  329]]
classification_report:
              precision    recall  f1-score   support

           0       1.00      0.97      0.99      5255
           1       0.69      0.99      0.81       333

   micro avg       0.97      0.97      0.97      5588
   macro avg       0.84      0.98      0.90      5588
weighted avg       0.98      0.97      0.97      5588

In [33]:
#classification with KNearestNeighbors


from sklearn.neighbors import KNeighborsClassifier as KNN

KNN_clf=KNN()
KNN_clf.fit(X_train,Y_train)
KNN_pred=KNN_clf.predict(X_test)
print("accuracy:")
print(accuracy_score(Y_test,KNN_pred))
print("confusion_matrix: ")
print(confusion_matrix(Y_test,KNN_pred))
print("classification_report:")
print(classification_report(Y_test,KNN_pred))

accuracy:
0.9568718682891911
confusion_matrix:
[[5218   37]
 [ 204  129]]
classification_report:
              precision    recall  f1-score   support

           0       0.96      0.99      0.98      5255
           1       0.78      0.39      0.52       333

   micro avg       0.96      0.96      0.96      5588
   macro avg       0.87      0.69      0.75      5588
weighted avg       0.95      0.96      0.95      5588

In [34]:
# because of the Decision Tree with Entrop or Information gain method gives the best accuracy
GINI=DecisionTreeClassifier(criterion='gini',max_depth=3)
TRAIN_GINI=Pipeline([('tdidf_gini',TfidfTransformer()),('clfg',GINI)])
TRAIN_GINI.fit(trainStandIm,train_label)
test_label=TRAIN_GINI.predict(testStandIm)

In [35]:
test_label

array([1, 0, 1, ..., 0, 1, 1], dtype=int64)

In [36]:
prediction = pd.DataFrame(test_label, columns=['predictions']).to_csv('prediction.csv')