In [1]:
import pandas as pd

test = pd.read_csv('HA_Data_Science_test.csv', index_col=False)
test.head()

,LISTING_KIND,LISTING_CITY,LISTING_PRICE,LOGIN_COUNTRY_CODE,LISTING_COUNTRY_CODE,LISTING_REGISTRATION_POSSIBLE,ADVERTISER_COMPLETENESS_SCORE,MANAGED_ACCOUNT,HAS_PROFILE_PIC,BROWSER,OS,ANONYMISED_EMAIL
0,1,Elche,155.00,es,es,0,35,False,1,Chrome,Android,drhzhephmeo@hotmail.com
1,1,Tilburg,420.00,nl,nl,1,40,False,1,Microsoft Edge,Windows,jorpr80ckig@gmail.com
2,1,Las Vegas,591.18,us,us,0,100,False,1,Mobile Safari,iOS,xaswrxawlgba@icloud.com
3,1,Utrecht,700.00,nl,nl,1,60,False,1,Firefox,Mac OS X,gnszyfo@universityhousing.nl
4,1,The Hague,600.00,fr,nl,1,54,False,1,Chrome,Windows,ttcjbtm@ziggo.nl

In [2]:
test.columns

Index(['LISTING_KIND', 'LISTING_CITY', 'LISTING_PRICE', 'LOGIN_COUNTRY_CODE',
       'LISTING_COUNTRY_CODE', 'LISTING_REGISTRATION_POSSIBLE',
       'ADVERTISER_COMPLETENESS_SCORE', 'MANAGED_ACCOUNT', 'HAS_PROFILE_PIC',
       'BROWSER', 'OS', 'ANONYMISED_EMAIL'],
      dtype='object')

# Preprocessing step

In [3]:
test.isnull().sum()

LISTING_KIND                       0
LISTING_CITY                       0
LISTING_PRICE                      0
LOGIN_COUNTRY_CODE                 3
LISTING_COUNTRY_CODE               0
LISTING_REGISTRATION_POSSIBLE      0
ADVERTISER_COMPLETENESS_SCORE      0
MANAGED_ACCOUNT                    0
HAS_PROFILE_PIC                    0
BROWSER                          118
OS                               118
ANONYMISED_EMAIL                   0
dtype: int64

In [4]:
# and i assign LISTING_COUNTRY_CODE values to the LOGIN_COUNTRY_CODE feature in co-row

In [5]:
test['LOGIN_COUNTRY_CODE'].fillna(test['LISTING_COUNTRY_CODE'], inplace=True)
test['LOGIN_COUNTRY_CODE'].isnull().sum()

0

In [6]:
# converting OS feature to numerical
OSs = test.OS.unique()
OSs_dict = dict()
os_num = 1
for i in OSs:
    OSs_dict[i] = os_num
    os_num += 1

test.OS = test.OS.map(OSs_dict)

In [7]:
# converting browser feature to numerical

In [8]:
# converting OS feature to numerical
browsers = test.BROWSER.unique()
browsers_dict = dict()
brow_num = 1
for i in browsers:
    browsers_dict[i] = brow_num
    brow_num += 1

test.BROWSER = test.BROWSER.map(browsers_dict)

In [9]:
test.head()

,LISTING_KIND,LISTING_CITY,LISTING_PRICE,LOGIN_COUNTRY_CODE,LISTING_COUNTRY_CODE,LISTING_REGISTRATION_POSSIBLE,ADVERTISER_COMPLETENESS_SCORE,MANAGED_ACCOUNT,HAS_PROFILE_PIC,BROWSER,OS,ANONYMISED_EMAIL
0,1,Elche,155.00,es,es,0,35,False,1,1,1,drhzhephmeo@hotmail.com
1,1,Tilburg,420.00,nl,nl,1,40,False,1,2,2,jorpr80ckig@gmail.com
2,1,Las Vegas,591.18,us,us,0,100,False,1,3,3,xaswrxawlgba@icloud.com
3,1,Utrecht,700.00,nl,nl,1,60,False,1,4,4,gnszyfo@universityhousing.nl
4,1,The Hague,600.00,fr,nl,1,54,False,1,1,2,ttcjbtm@ziggo.nl

In [10]:
test.isnull().sum()

LISTING_KIND                     0
LISTING_CITY                     0
LISTING_PRICE                    0
LOGIN_COUNTRY_CODE               0
LISTING_COUNTRY_CODE             0
LISTING_REGISTRATION_POSSIBLE    0
ADVERTISER_COMPLETENESS_SCORE    0
MANAGED_ACCOUNT                  0
HAS_PROFILE_PIC                  0
BROWSER                          0
OS                               0
ANONYMISED_EMAIL                 0
dtype: int64

In [11]:
test.columns

Index(['LISTING_KIND', 'LISTING_CITY', 'LISTING_PRICE', 'LOGIN_COUNTRY_CODE',
       'LISTING_COUNTRY_CODE', 'LISTING_REGISTRATION_POSSIBLE',
       'ADVERTISER_COMPLETENESS_SCORE', 'MANAGED_ACCOUNT', 'HAS_PROFILE_PIC',
       'BROWSER', 'OS', 'ANONYMISED_EMAIL'],
      dtype='object')

In [12]:
# converting the MANAGED_ACCOUNT feature to numerical values

mang_account = {False: -1, True: 1}
test['MANAGED_ACCOUNT'] = test['MANAGED_ACCOUNT'].map(mang_account)

In [13]:
# i want to add new feature that is the orientation of the listing and login country

orient_country = list()
for i in range(test.shape[0]):
    if test['LOGIN_COUNTRY_CODE'][i] == test['LISTING_COUNTRY_CODE'][i]:
        orient_country.append(0)
    else:
        orient_country.append(-1/2)
        
test['COUNTRY_ORI']=orient_country

In [14]:
test.drop(['LOGIN_COUNTRY_CODE', 'LISTING_COUNTRY_CODE'], axis=1, inplace=True)

In [15]:
test.head()

,LISTING_KIND,LISTING_CITY,LISTING_PRICE,LISTING_REGISTRATION_POSSIBLE,ADVERTISER_COMPLETENESS_SCORE,MANAGED_ACCOUNT,HAS_PROFILE_PIC,BROWSER,OS,ANONYMISED_EMAIL,COUNTRY_ORI
0,1,Elche,155.00,0,35,-1,1,1,1,drhzhephmeo@hotmail.com,0.0
1,1,Tilburg,420.00,1,40,-1,1,2,2,jorpr80ckig@gmail.com,0.0
2,1,Las Vegas,591.18,0,100,-1,1,3,3,xaswrxawlgba@icloud.com,0.0
3,1,Utrecht,700.00,1,60,-1,1,4,4,gnszyfo@universityhousing.nl,0.0
4,1,The Hague,600.00,1,54,-1,1,1,2,ttcjbtm@ziggo.nl,-0.5

In [16]:

test.drop(['LISTING_CITY'], axis=1, inplace=True)

In [17]:
test['ANONYMISED_EMAIL'][0] = "drhzhephmeo@hotmail.com"

D:\ProgramFiles\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
def email_regex(email):
    email_details = email.split('@')
    domain = email_details[1]
    main_domain = domain.split('.')[0]
    return main_domain

index = test.shape[0]
for i in range(index):
    test['ANONYMISED_EMAIL'][i] = email_regex(test['ANONYMISED_EMAIL'][i])
test['ANONYMISED_EMAIL']

D:\ProgramFiles\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

0                         hotmail
1                           gmail
2                          icloud
3               universityhousing
4                           ziggo
5                           yiton
6                           gmail
7                           gmail
8                           gmail
9                           gmail
10               blanket-solution
11                           live
12                           live
13                          gmail
14                      frederics
15                             hr
16          contemporaryrotterdam
17                          gmail
18                        home112
19                           ishr
20                   vondereurope
21                          gmail
22                housinganywhere
23                          gmail
24              lodgingapartments
25                          gmail
26      apartmentbarcelonarentals
27                          gmail
28                        hotmail
29                          ikoab
                  ...
1888                       monlit
1889              habitacionjoven
1890                      outlook
1891                        gmail
1892                        inode
1893              thestudenthotel
1894                        gmail
1895                      hotmail
1896                      welkeys
1897                        gmail
1898                   protonmail
1899              housinganywhere
1900        internationalshousing
1901                       libero
1902                        gmail
1903                student-cribs
1904                      hotmail
1905                         live
1906              citylifehousing
1907                      hotmail
1908                      hotmail
1909                      outlook
1910                        gmail
1911                     arthouse
1912              housinganywhere
1913                weareprojects
1914                     neonwood
1915                        gmail
1916                        ikoab
1917              housinganywhere
Name: ANONYMISED_EMAIL, Length: 1918, dtype: object

In [19]:
# در این ستون برای ایمیل هایی که با دامنه های زیر هستند تاثیری در کلاهبرداری دارند زیرا ایمیل هایی که با دامنه مخصوص به شرکت هستند
# می توان آن را پیگیری کرد اما دامنه های عمومی معلوم نیست که از چه کسی صادر می شود
# به همین دلیل برای آن هایی که عمومی هستند مقدار یک۱ را در نظر میگریم چون تاثیر مثبت در کلاهبرداری دارند و برای دامنه های خصوصی 
# مقدار (۱-)
# در نظر میگیریم

public_emails = {"gmail": 1, "yahoo": 1, "outlook": 1, "hotmail": 1}

test['ANONYMISED_EMAIL'] = test['ANONYMISED_EMAIL'].map(public_emails)

In [20]:
for i in range(index):
    if test['ANONYMISED_EMAIL'][i] != 1:
        test['ANONYMISED_EMAIL'][i] = -1

D:\ProgramFiles\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
test['ANONYMISED_EMAIL']

0       1.0
1       1.0
2      -1.0
3      -1.0
4      -1.0
5      -1.0
6       1.0
7       1.0
8       1.0
9       1.0
10     -1.0
11     -1.0
12     -1.0
13      1.0
14     -1.0
15     -1.0
16     -1.0
17      1.0
18     -1.0
19     -1.0
20     -1.0
21      1.0
22     -1.0
23      1.0
24     -1.0
25      1.0
26     -1.0
27      1.0
28      1.0
29     -1.0
       ...
1888   -1.0
1889   -1.0
1890    1.0
1891    1.0
1892   -1.0
1893   -1.0
1894    1.0
1895    1.0
1896   -1.0
1897    1.0
1898   -1.0
1899   -1.0
1900   -1.0
1901   -1.0
1902    1.0
1903   -1.0
1904    1.0
1905   -1.0
1906   -1.0
1907    1.0
1908    1.0
1909    1.0
1910    1.0
1911   -1.0
1912   -1.0
1913   -1.0
1914   -1.0
1915    1.0
1916   -1.0
1917   -1.0
Name: ANONYMISED_EMAIL, Length: 1918, dtype: float64

In [22]:
test.to_csv('test.csv')

In [23]:
test.head()

,LISTING_KIND,LISTING_PRICE,LISTING_REGISTRATION_POSSIBLE,ADVERTISER_COMPLETENESS_SCORE,MANAGED_ACCOUNT,HAS_PROFILE_PIC,BROWSER,OS,ANONYMISED_EMAIL,COUNTRY_ORI
0,1,155.00,0,35,-1,1,1,1,1.0,0.0
1,1,420.00,1,40,-1,1,2,2,1.0,0.0
2,1,591.18,0,100,-1,1,3,3,-1.0,0.0
3,1,700.00,1,60,-1,1,4,4,-1.0,0.0
4,1,600.00,1,54,-1,1,1,2,-1.0,-0.5